<div class="container mt-4">
    <h1 class="text-center">Selecciona una Ruleta</h1>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body text-center">
            <h5 class="card-title">Ruleta Arriesgados</h5>
            <p class="card-text">Explora desafíos atrevidos y emocionantes con esta ruleta.</p>
            <a routerLink="/ruletas/ruleta-arriesgados" class="btn btn-primary">Jugar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body text-center">
            <h5 class="card-title">Ruleta Prohibidos</h5>
            <p class="card-text">Descubre preguntas y retos para los más atrevidos.</p>
            <a routerLink="/ruletas/ruleta-prohibidos" class="btn btn-danger">Jugar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  