<div class="container text-center ">
        <div class="row align-items-center">
          <div class="row">
            <div class=" justify-content-center">
                <a class="navbar-brand text-center" href="#">
                  Meet
                </a>
              </div>
          </div>
          <div class="row">
             <ul class="nav justify-content-center">
                 <li class="nav-item">
                     <a class="nav-link disabled" aria-disabled="true">Tienda</a>
                 </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Instagram</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Quiero reservar</a>
                </li>
            </ul>
        </div>
   </div>
</div>
    
