*{margin: 0;}

body {
  margin: 0;
  background: rgb(18,34,56);
  background: linear-gradient(35deg, rgb(25, 47, 78) 0%, rgb(60, 28, 90) 50%, rgba(0,0,0,1) 100%);
  /* overflow: hidden; Eliminar las barras*/
}
